

main{
    padding: 0 3rem;
}
#header,h2{
    text-align: center;
}
.team-members{
display: flex;
gap: 10px;
margin: 0 auto;
}
.addizz{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3rem 4rem;
    margin: 0 auto;
    

}
.socials{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    background-color: rgb(201, 201, 201);
    border-radius: 8px;
    padding: 1rem 1.5rem;
}
.socials a{
    color: black;
    text-decoration: none;
}
footer{
    height: 5vh;
    background-color: black;
    text-align: center;
    padding-top: 1vh;
    color: white;
}

 @media (max-width: 670px) {
    .team-members{
        flex-wrap: wrap;
    }
    /* .addizz{
        margin-right: 3rem;
        margin: unset;
    } */
     .addizz img{
        max-width: 150px;
     }
     .socials{
        /* max-width: 150px; */
        flex-wrap: wrap;
     }
 }