nav{
    height: 10vh;
    width: 100%;
    background-color: rgb(3, 0, 0);
    display: flex;
    align-items: center;
    position: sticky;
    padding-left: 5px;
    padding-right: 6rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    
}
nav a{
    display: flex;
    color: white;
    text-decoration: none;
}
.nav-link{
    display: flex;
    gap: 10px;
}
.a-tag:hover{
    background-color: unset;
    color: white;
    text-decoration: underline;
    padding: unset;
    border-radius: unset;

}
.a-tag{
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 15px;
    /* font-size: 17px; */
}
nav a span{
    padding-left: 5px;
}
.btn-cont{
    display: none;
    /* width: 20px; */
    /* border: 1px solid white; */

}
#myBtn{
    background-color: black;
    width: 35px;
}
#myBtn img{
    width: 27px;
}
.modal {
    display: none;/* Hidden by default */
    align-items: center;
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 10vh;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    /* overflow: scroll; /*Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
    text-align: center;
}
.modal-content ul{
    list-style: none;
    gap: 10px;

}
.modal-content ul a, .modal-content ul li {
    text-decoration: none;
    color: white;
    font-size: large;
    padding-top: 20px;
    justify-content: center;
    
}
.modal-content ul li:hover{
    background-color: rgba(48, 48, 48, 0.4);
}

@media (max-width: 550px) {
    nav{
        padding-right: unset;
    }
    .btn-cont{
        display: flex;
        float: right;
        
        margin-left: 4rem;
        margin-right: 0.5rem;
    }
    .nav-link{
        display: none;
    }
}